@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #9b7e67;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header {
    text-align: center;
    padding: 50px 20px;
    background-color: #bd9669;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #503a2c;
    margin-bottom: 20px;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #503a2c;
}

.hello h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #503a2c;
    margin-bottom: 10px;
}

.hello i {
    font-size: 1.5rem;
    color: #503a2c;
}

.header p {
    font-size: 1.1rem;
    color: #685847;
    max-width: 600px;
    margin: 0 auto;
}

/* Contact Styles */
.header .btn {
    margin: 10px;
    font-size: 1.2rem;
    color: #503a2c;
    border: 2px solid #503a2c;
    border-radius: 50px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.header .btn:hover {
    background-color: #503a2c;
    color: #ffffff;
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #503a2c;
    margin-bottom: 20px;
    text-align: center;
}

.text-gray-700 {
    color: #685847;
}

.text-secondary {
    font-style: bold;
    color: #503a2c !important;
}

/* Education, Work Experience, Organization, Skills, Interest, Language Styles */
.education-item, .work-experience-item, .organization-item, .skills-item, .interest-item, .language-item {
    background-color: #bd9669;
    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.education-item p, .work-experience-item p, .organization-item p, .interest-item p, .language-item p {
    font-size: 1rem;
    color: #685847;
    margin-bottom: 10px;
}

.skills-item ul {
    list-style-type: none;
    padding: 0;
}

.skills-item ul li {
    font-size: 1rem;
    color: #685847;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.skills-item ul li::before {
    content: "•";
    color: #503a2c;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: -5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .name h1 {
        font-size: 2rem;
    }

    .hello h2 {
        font-size: 1.5rem;
    }

    .header p {
        font-size: 1rem;
    }

    .header .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .education-item p, .work-experience-item p, .organization-item p, .interest-item p, .language-item p {
        font-size: 0.9rem;
    }

    .skills-item ul li {
        font-size: 0.9rem;
    }
}