/* body {
    font-family: 'Roboto', sans-serif;
    background-color: #7a581e;
    justify-content: center;
    white-space: nowrap;
}

.name {
    background-color: #3d2603;
    color: #fff;
    padding: 2rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.header {
    background-color: #c49778;
    padding: 2rem;
    text-align: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
}

.hello {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: right;
    white-space: nowrap;
} */


/* General Styles */